<h1>ログイン</h1>
<% if @user.present? && @user.invalid? then %>
  <div>
    <ul style="color: red">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% elsif  @errormsg.present? then %>
  <ul style="color: red">
    <li><%= @errormsg %></li>
  </ul>
<% end %>
<%= form_for(:session, url: login_path) do |f| %>
  <p><%= f.label "ユーザID" %>
  <%= f.text_field :userid %></p>
  <p><%= f.label "パスワード" %>
  <%= f.text_field :password %></p>
  <p><%= f.submit "ログインする" %></p>
<% end %>