<h1>ログイン</h1>
<div>
  <ul style="color: red">
    <% if @user.present? && @user.invalid? then %>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% elsif  @errormsg.present? then %>
       <li><%= @errormsg %></li>
    <% end %>
  </ul>
</div>
<%= form_for(:session, url: login_path) do |f| %>
  <p><%= f.label "ユーザID" %>
  <%= f.text_field :userid %></p>
  <p><%= f.label "パスワード" %>
  <%= f.text_field :password %></p>
  <p><%= f.submit "ログインする" %></p>
<% end %>