<h1>ログイン</h1>
<div>
  <ul style="color: red">
    <% if @user.present? && @user.invalid? then %>
      <% if @user.errors.messages[:userid].present? then %>
        <li><%= @user.errors.messages[:userid][0] %></li>
      <% end %>
      <% if @user.errors.messages[:password].present? then %>
        <li><%= @user.errors.messages[:password][0] %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<%= form_for(:session, url: login_path) do |f| %>
  <p><%= f.label "ユーザID" %>
  <%= f.text_field :userid %></p>
  <p><%= f.label "パスワード" %>
  <%= f.text_field :password %></p>
  <p><%= f.submit "ログインする" %></p>
<% end %>