<%= render 'flash' %>

<%= link_to "ログアウト", logout_path, method: :delete %>

<h1>写真一覧</h1>
<% unless get_token.present? then %>
   <p><%= link_to "MyTweerAppと連携", @uri.to_s %></p>
<% else %>
   <%= $oauth_token %>
   <p>MyTweerAppと連携中</p>
<% end %>
<p><%= link_to "写真を画面にアップロード", photo_image_new_path %></p>
<div id="grid">
<ul>
<% @image.order(created_at: :desc).each do |image| %>
   <% if image.filename.present? then %>
     <li>
     <div id="image">
     <p><%= image.title %></p>
     <%= image_tag('/photo/' + image.filename, :size => '150x150') %>
     <%= form_for(:photo_image, url: twitter_path) do |f| %>
        <%= f.hidden_field :filename, value: image.filename %>
        <%= f.hidden_field :title, value: image.title %>
        <% if get_token.present? then %>
           <%= f.submit "ツイートする" %>
        <% end %>
     <% end %>
     </div>
     </li>
   <% end %>
<% end %>
</ul>
</div>